@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "ContactInfo";
    <div class="text-center">
    <h1 class="display-4">Velkommen til IBAS kantinen. Her kan du kontakte Karen hvis du har eventuelle spørgsmål</h1>
       <p class="lead">Navn: Karen Kantine</p>
    <p>Telefon: 12345678</p>
    <p>Email: kantinekaren@ibas.com</p>
    <p>Adresse: Kantinevej 1, 1234 København K</p>
    <p>Vi glæder os til at høre fra dig.</p>
    <p><a class="btn btn-primary" asp-page="/Index">Tilbage til menu</a></p>
    </div>
};
